%h1 Listing kata

%table
  %tr
    %th Name
    %th Url
    %th Desc
    %th Language
    %th
    %th
    %th

  - @katas.each do |kata|
    %tr
      %td= kata.name
      %td= kata.url
      %td= kata.desc
      %td= kata.language
      %td= link_to 'Show', kata
      %td= link_to 'Edit', edit_kata_path(kata)
      %td= link_to 'Destroy', kata, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Kata', new_kata_path
