%p#notice= notice

%p
  %b Name:
  = @kata.name
%p
  %b Url:
  = @kata.url
%p
  %b Desc:
  = @kata.desc
%p
  %b Language:
  = @kata.language

= link_to 'Edit', edit_kata_path(@kata)
\|
= link_to 'Back', katas_path
