%p#notice= notice

%p
  %b Js file:
  = @question_template.js_file
%p
  %b Template file:
  = @question_template.template_file
%p
  %b View file:
  = @question_template.view_file
%p
  %b Question:
  = raw @question_template.render()


= link_to 'Edit', edit_question_template_path(@question_template)
\|
= link_to 'Back', question_templates_path
