%p#notice= notice

%p
  %b Homework:
  = @my_posted_homework.homework
%p
  %b Url:
  = @my_posted_homework.url
%p
  %b Desc:
  = @my_posted_homework.desc
%p
  %b User:
  = @my_posted_homework.user

= link_to 'Edit', edit_my_posted_homework_path(@my_posted_homework)
\|
= link_to 'Back', my_posted_homeworks_path
