%p#notice= notice

%p
  %b Name:
  = @homework.name
%p
  %b Url:
  = @homework.url
%p
  %b Desc:
  = @homework.desc

= link_to 'Edit', edit_homework_path(@homework)
\|
= link_to 'Back', homeworks_path
