%h1 Listing exam_papers

%table
  %tr
    %th String
    %th
    %th
    %th

  - @exam_papers.each do |exam_paper|
    %tr
      %td= exam_paper.name
      %td= link_to 'Show', exam_paper
      %td= link_to 'Edit', edit_exam_paper_path(exam_paper)
      %td= link_to 'Destroy', exam_paper, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Exam paper', new_exam_paper_path
