p
  竞价游戏

  出价最低且没有其他人跟他出的价格相同的人获胜

  竞价开始
  ul
    li #{P1}出价#{B1}
    li #{P2}出价#{B2}
    li #{P3}出价#{B3}
    li #{P4}出价#{B4}
    li #{P5}出价#{B5}
    li #{P6}出价#{B6}
    li #{P7}出价#{B7}
    li #{P8}出价#{B8}
    li #{P9}出价#{B9}
    li #{P10}出价#{B10}
    li #{P11}出价#{B11}
    li #{P12}出价#{B12}
    li #{P13}出价#{B13}
    li #{P14}出价#{B14}
    li #{P15}出价#{B15}
    li #{P16}出价#{B16}