p.
  桌子上有九个模型。
  方形的有 #{X5}, #{X8},#{X3}
  三角形的有 #{X4},#{X1},#{X6}
  圆形有 #{X7},#{X2},#{X9}
  实心的有 #{X1},#{X5},#{X6},#{X9}
  空心的有 #{X2},#{X3},#{X4},#{X7},#{X8}
  红色的有 #{X1},#{X6},#{X9}
  黄色的有 #{X3},#{X4},#{X8}
  绿色的有 #{X2},#{X5}, #{X7}
  塑料的有 #{X2},#{X4},#{X5},#{X8}
  金属的有 #{X1},#{X3},#{X6},#{X7},#{X9}

  问：空心的圆形有哪些?塑料的绿色方形有哪些？金属的实心三角形有哪些？