p.
  岛上有一些国家。
  其中
  #{C1}国临近#{C2}国
  #{C3}国临近#{C4}国
  #{C6}国临近#{C2}国
  #{C2}国临近#{C3}国
  #{C4}国临近#{C5}国
  #{C5}国临近#{C6}国
  #{C2}国临近#{C5}国
  #{C5}国临近#{C3}国

  临四国的是黄色,临三国的是红色，临两国的是黑色，临一国的是绿色
  问各都需要涂成什么颜色