%h1 Listing my_posted_kata

%table
  %tr
    %th Kata
    %th User
    %th Url
    %th Desc
    %th
    %th
    %th

  - @my_posted_kata.each do |my_posted_kata|
    %tr
      %td= my_posted_kata.kata
      %td= my_posted_kata.user
      %td= my_posted_kata.url
      %td= my_posted_kata.desc
      %td= link_to 'Show', my_posted_kata
      %td= link_to 'Edit', edit_my_posted_kata_path(my_posted_kata)
      %td= link_to 'Destroy', my_posted_kata, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New My posted katum', new_my_posted_kata_path
