%h1 Listing question_templates

%table
  %tr
    %th Js file
    %th Template file
    %th View file
    %th
    %th
    %th

  - @question_templates.each do |question_template|
    %tr
      %td= question_template.js_file
      %td= question_template.template_file
      %td= question_template.view_file
      %td= link_to 'Show ', [:admin,question_template]
      %td= link_to '预览 ', "/admin/question_templates/preview/#{question_template.id}"
      %td= link_to 'Edit ', edit_admin_question_template_path(question_template)
      %td= link_to 'Destroy', [:admin, question_template], method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Question template', new_admin_question_template_path
